<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="ConnectionString"
		     value="Data Source=&quot;localhost\SQLEXPRESS&quot;; Initial Catalog=2023; Integrated Security=True; TrustServerCertificate=True" />
		<add key="DefaultPath" value="C:\Users\Paul\Desktop" />
		<add key="ServiceName" value="MSSQL$SQLEXPRESS" />
	</appSettings>
</configuration>